<template name="home">
  <div class="template-home">
    <h2>Welcome to HouseGuesser</h2>
    <div class="card-panel">
      <h4>Pick Icons</h4>
      <h4>Set sales prices</h4>
      <h4>Because Asking Prices are Bunk</h4>
      <p>
        Because asking prices are so frequently set intentionally low in order to create a bidding war, we're hoping to collect guesses of accurate prices so homebuyers have the best possible information when shopping and when beginning the bidding process.
      </p>
      <p>
        At the same time, we want to create a way to find out if real estate experts really can know a market accurately, or if that's just something they tell homebuyers in order to get their business.  Come place bids and we will keep track of the most knowledgeable in each zip code and city.  Good luck!
      </p>
      <img src="images/house.jpg" style="width: 100%">
    </div>
  </div>
</template>
