<template name="leaderboard">

  {{#if 0}}
    <a class="btn-floating btn-large waves-effect waves-light right" href="{{pathFor 'popularity'}}"><i class="mdi-navigation-arrow-back"></i></a>
  {{/if}}

  {{#unless allRoute}}
    <h2>{{geogId}} Leaderboard</h2>
  {{else}}
    <h2>Universal Leaderboard</h2>
  {{/unless}}

  {{#if noLeaders}}
    <h4>No leaders yet</h4>
  {{else}}
    <ul class="collection">
      {{#each leaders}}
        {{> leader }}
      {{/each}}
    </ul>
  {{/if}}

  {{#unless allRoute}}
    <a href="{{pathFor 'listings' geog=geog geogId=geogId}}">{{geogId}} Listings</a>
  {{/unless}}

</template>