<template name="listing">
	<li class="collection-item avatar">
	  <a href="{{link}}" target="_blank"><i class="material-icons deep-orange darken-3 circle">open_in_new</i></a>
    {{#if listingPage}}
	    <span class="title"><a href="{{pathFor 'bids' _id}}">{{ address}} - {{city}}, {{state}} {{zip}}</a></span>
    {{else}}
      <span class="title">{{ address}} - {{city}}, {{state}} {{zip}}</span>
    {{/if}}
	  <p>	  	
      {{#unless salesPrice}}
      Ask: {{formatNumber askingPrice}}
      {{else}}
      Sold: {{formatNumber salesPrice}} ({{sellAskDiff}})
      {{/unless}}

      <br>

      {{#if userBid}}
        Guess: {{formatNumber userBid.bid}} 
        {{#if salesPrice}}
          (<b>{{bidSellDiff}}</b>)
        {{/if}}
        <br>
      {{else}}
        {{#if listingPage}}
          <a href="{{pathFor 'bids' _id}}">Click to guess</a><br>
        {{else}}
          <b>Guess below!</b><br>
        {{/if}}
      {{/if}}

	    {{#if listingPage}}
	      <a href="{{pathFor 'bids' _id}}">
  	    {{#if oneBid}}
  	      1 Guess
  	    {{else}}
  	      {{numBids}} Guesses
  	    {{/if}}
        </a>
      {{else}}
        {{#if oneBid}}
          1 Guess
        {{else}}
          {{numBids}} Guesses
        {{/if}}
      {{/if}}

	  </p>
	  {{#if listingPage}}
	    <a href="{{pathFor 'bids' _id}}" class="secondary-content"><i class="material-icons">visibility</i></a>
    {{else}}
      {{#if salesPrice}}
        <a href="#" class="secondary-content mark-unsold">Mark unsold</a>
      {{else}}
        <a href="#" class="secondary-content mark-sold">Mark sold</a>
      {{/if}}
	  {{/if}}
	</li>
</template>