<template name="popularity">

  <h3>Popular Cities</h3>
  {{#each cities}}
    <h4>
      {{city}}: {{pluralize numBids 'listing'}}
      <a href="{{ pathFor 'listings' geog='city' geogId=city}}" title="Listings"><i class="mdi-action-dashboard"></i></a>
      <a href="{{ pathFor 'leaderboard' geog='city' geogId=city}}" title="Leaderboard"><i class="mdi-action-dashboard"></i></a>
    </h4>
  {{/each}}

  <h3>Popular States</h3>
  {{#each states}}
    <h4>
      {{state}}: {{pluralize numBids 'listing'}}
      <a href="{{ pathFor 'listings' geog='state' geogId=state}}" title="Listings"><i class="mdi-action-dashboard"></i></a>
      <a href="{{ pathFor 'leaderboard' geog='state' geogId=state}}" title="Leaderboard"><i class="mdi-action-dashboard"></i></a>
    </h4>
  {{/each}}

  <h3>Popular Zips</h3>
  {{#each zips}}
    <h4>
      {{zip}}: {{pluralize numBids 'listing'}}
            <a href="{{ pathFor 'listings' geog='zip' geogId=zip}}" title="Listings"><i class="mdi-action-dashboard"></i></a>
      <a href="{{ pathFor 'leaderboard' geog='zip' geogId=zip}}" title="Leaderboard"><i class="mdi-action-dashboard"></i></a>
    </h4>
  {{/each}}
</template>