<template name="_footer">
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l4 s12">
          <h4 class="white-text">Homebuyers</h4>
          <p class="grey-text text-lighten-4">
            In the Bay Area, realtors have described asking prices as "made up."  It's annoyingly impossible to know what a house might go for from it's asking price.  Post a listing here and get feedback from others.
          </p>
        </div>
        <div class="col l4 s12">
          <h4 class="white-text">Real Estate Experts</h4>
          <p class="grey-text text-lighten-4">
            Prove your knowledge of local markets.  Make guesses of purchase prices in advance and find out if you're correct.  Leaderboards will be kept by zip and by city. 
          </p>
        </div>
        <div class="col l4 s12">
          <h4 class="white-text">MapCraft Labs</h4>
          <p class="grey-text text-lighten-4">
            This is a project of MapCraft labs.  Let us know how you feel about it.
          </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        &copy; Copyright MapCraft 2015
      </div>
    </div>
  </footer>
</template>
